
.hover-div {
    transition: left 250ms, right 250ms;
    min-width: 20px;
    min-height: 20px;
    padding: 10px;
    position: absolute;
    background-color: #878787;
}

.hover-td-label {
    font-family: CircularStd-Book;
    color: white;
    font-size: 14px;
}
.hover-td-value {
    font-family: CircularStd-Book;
    color: white;
    font-size: 14px;
}

.hover-title {
    color: white;
    font-family: CircularStd-Bold;
    font-size: 16px;
    margin-bottom: 5px;
}